%html
  %head
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js", :type => "text/javascript"}
    %link{:href => "/stylesheets/normalize.css", :rel => "stylesheet"}/
    %link{:href => "/stylesheets/skeleton.css", :rel => "stylesheet"}/
    %link{:href => "/stylesheets/main.css", :rel => "stylesheet"}/
    %title Walk List
  %body{class: body_class(body)}
    #load.hidden
    .header
      %a{href: '/map', class: 'logo-link'}
        %img{src: '/images/getup_logo.svg', class: 'logo'}
      - if authorised?
        .nav-top-right
          %a{href: '/logout', class:'button logout'}="Logout"
    = yield
