.container
  .spacer
  %form{method: 'post', action: '/login', class: 'login-box'}
    %input#nation-input{:placeholder => "Nation Name", :name => 'nation', :type => "text"}/
    %button.button-primary.login-button{:type => "submit"} Log In
