.map#map
.div{id: "dialog", title: "FAQ"}
  %h3 Q: I can't see any doorknock areas.  Why?
  %h4 A: You may be zoomed out too far - or you might be in an area with no residentially zoned areas.  To fix this or to check if there are no residential zones near you, zoom or pan the map onto a town or city.
  %br
  %h3 Q: How do I claim an area?
  %h4 A: Click on an area and then select "Claim + Download".  An area may be claimed by someone else, in which case you won't see this button.
%script{ src: '/javascript/map.js', type: 'text/javascript' }
