.container-fluid
  .panel-half-relative.panel-30.panel-pad-sides.padtopmore.padbottommore.logo-outer
    %a{href: "/", class: "logo-link"}
      %img.logo#logo-image{src: '/images/map-logo.png'}
    - if authorised?
      %h2
        .welcome-container
          Hi
          .welcome-message #{user_name},
          %a#faqlink{href: "/", onclick: "return false;"}
            click here
          for more information about the doorknocking tool
  - if authorised?
    .panel-half-relative.panel-70.panel-pad-sides.padtopmore.padbottommore.form-outer
      %form#address_search_form
        .input-group
          %input#address_search.text.form-control{:autocomplete => "off", :placeholder => "Enter postcode", :type => "search"}/
          .input-group-btn
            %button#postcode-button#address_search_button.btn.btn-custom.button-light-blue{:name => "search", :type => "submit"} Go To Postcode
