%a{href: "/map", class: "logo-link"}
  %img.logo#logo-image{src: '/images/yes_logo.png'}
- if authorised?
  %form{:method => "GET", :onsubmit => "return false;"}
    %input#postcode-input{placeholder: "Postcode", name: "pcode"}/
    %input.button-primary#postcode-button{type: "button", value: "Go To Postcode"}
  .nav-top-right
    Hi
    .welcome-message #{user_name}
    %a#logout.button{href: '/logout'}="Logout"
