
.container.user_details
  = styled_flash
  .spacer
  .errors-container
  %h3{class: 'grey'} Please enter your details
  %hr
  %form{method: "post", action: "/user_details", class: "user-details-box"}
    %input#email{placeholder: "Email", name: "user_details[email]", type: "email", value: email, required: true}
    %br
    %input#first_name{placeholder: "First Name", name: "user_details[first_name]", type: "text", required: true}
    %br
    %input#last_name{placeholder: "Last Name", name: "user_details[last_name]", type: "text", required: true}
    %br
    %input#phone{placeholder: "Phone", name: "user_details[phone]", type: "text", required: true}
    %br
    %input#postcode{placeholder: "Postcode", name: "user_details[postcode]", type: "text", required: true}
    %br
    %input.button-primary#login-button{type: "submit", value: "Submit"}
