.flash.notice {
  margin: 20px auto;
  width: 500px;
  text-align: center;
  background-color: rgba(226,176,176,0.5);
  padding: 10px;
  border-radius: 5px;
}

.logout {
  float: right;
  margin-top: 31px;
  margin-right: 10px;
}

.select-electorate a {
  font-size: 2rem;
  float: left;
  clear: both;
  margin-bottom: 5px;
}

.logo-link {
  float: left;
}

.header {
  overflow: hidden;
}

.electorates {
  float: left;
}

.electorate-picker {
  display: inline;
  margin-left: 45px;
  float: left;
  margin-top: 31px;
}

.electorate-picker form {
  display: inline;
}

.electorate-picker select {
  min-width: 175px;
}

.main {
  background-image: url('/images/background-home-image.jpg');
  background-size: 100%;
}

.logo {
  width: 100px;
  margin: 20px 0 0 20px;
}

.login .login-box {
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
  width: 50%;
  border-color: #A9A9A9;
  margin-left: 25%;
  height: 3.6em;
}

.login .spacer {
	height: 13em;
}

.login #nation-input {
	margin: 0.5em;
	width: 72%;
}

#map {
	height: 50em;
	width: 100%;
  z-index: 1;
}

.select-electorate .spacer {
	height: 16em;
}

.select-electorate .form {
  height: 10em;
  margin-left: 25%;
  width: 50%;
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
  border-color: #A9A9A9;
}

.select-electorate .form h2 {
  padding-top: 0.5em;
  border-bottom: 1px solid #DCDCDC;
  margin-left: 2%;
  margin-right: 2%;
}

.select-electorate .form select {
  width: 73%;
  margin-left: 2%;
  margin-right: 2%;
}
